$("#current-version-<%= @stage.id %>").replaceWith('<span class="<%= @stage.get_current_version[0..6] == @stage.get_next_version[0..6] ? 'text-success' : 'text-warning' %>"><%= @stage.get_current_version_short %></span>');
