// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.patch, .patch td {
  font-family: Monaco, monospace;
  font-size: 12px;
  line-height: 18px;
}

.patch {
  margin-bottom: 30px;
}

.patch table tr:hover {
  background-color: #f8eec7;
}

.diff-line {
  white-space: pre;
}

.deleted {
  background-color: #fdd;
}

.added {
  background-color: #dfd;
}
.header {
  background-color: #f8f8ff;
  color: #999;
}
.media-object {
  border-radius: 40px;
}

#controls {
  top: 70px;
  right: 30px;
  position: fixed;
}
